.s-skin-hasbg {
	BACKGROUND: none transparent scroll repeat 0% 0%; _zoom: 1
}
.s-skin-user .s-skin-container {
	Z-INDEX: -5; POSITION: absolute; WIDTH: 100%; BACKGROUND-ATTACHMENT: fixed; ZOOM: 1; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 0px; HEIGHT: 100%; TOP: 0px; LEFT: 0px; background-size: cover; -webkit-background-size: cover; -o-background-size: cover
}
.s-skin-user #m {
	MARGIN-TOP: 25px
}
.s-skin-user #lg {
	MARGIN: 0px 0px 4px
}
.s-skin-user #s_lm {
	POSITION: relative; HEIGHT: 42px
}
.s-skin-lm {
	HEIGHT: 28px; FONT-SIZE: 1px
}
.s-skin-user #bottom_container {
	_bottom: -1px
}
.s-skin-hasbg .bottom {
	PADDING-BOTTOM: 20px; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%
}
.s-skin-hasbg #u_sp {
	BORDER-BOTTOM-STYLE: none; FILTER: alpha(opacity=70); PADDING-BOTTOM: 6px; BACKGROUND: black; HEIGHT: 20px
}
.red-blue-logo.s-skin-hasbg #nv A {
	COLOR: #00c
}
.red-blue-logo.s-skin-hasbg #lm {
	COLOR: #00c
}
.red-blue-logo.s-skin-hasbg #lm A {
	COLOR: #00c
}
.red-blue-logo.s-skin-hasbg #nv B {
	COLOR: #000
}
.white-logo.s-skin-hasbg #nv A {
	COLOR: #fff
}
.white-logo.s-skin-hasbg #nv B {
	COLOR: #fff
}
.white-logo.s-skin-hasbg #lm {
	COLOR: #fff
}
.white-logo.s-skin-hasbg #lm A {
	COLOR: #fff
}
.s-skin-hasbg #u_sp A {
	COLOR: #fff
}
.s-skin-hasbg #nv A {
	COLOR: #fff
}
.s-skin-hasbg #nv B {
	COLOR: #fff
}
.s-skin-hasbg #lm {
	COLOR: #fff
}
.s-skin-hasbg #lm A {
	COLOR: #fff
}
.s-skin-hasbg .s-u-level {
	COLOR: #fff
}
.s-skin-hasbg .user-name-top {
	BACKGROUND: url(../img/skin_dark_7e34cf2a.png) no-repeat right -571px; _background: url('../img/user_top_05c8a039.png') no-repeat right 7px
}
.s-skin-hasbg #s_user_center {
	BACKGROUND: url(../img/skin_dark_7e34cf2a.png) no-repeat right -573px; _background: url('../img/user_top_05c8a039.png') no-repeat right 5px
}
.s-skin-hasbg .s-username-menu {
	BORDER-BOTTOM: #36383a 1px solid; FILTER: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color="#333333"); BORDER-LEFT: #36383a 1px solid; BORDER-TOP: #36383a 1px solid; TOP: 30px; BORDER-RIGHT: #36383a 1px solid; box-shadow: 1px 1px 2px #333; -moz-box-shadow: 1px 1px 2px #333; -webkit-box-shadow: 1px 1px 2px #333
}
.s-skin-hasbg .s-username-menu A {
	FILTER: alpha(opacity=70); BACKGROUND: black; COLOR: #fff
}
.s-skin-hasbg .s-username-menu A:hover {
	BACKGROUND: rgb(34,34,34)
}
.s-skin-hasbg .s-username-menu A.sep {
	BORDER-TOP: #222 1px solid
}
.s-skin-hasbg .btn_wr {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.s-skin-hasbg .btn_wr {
	WIDTH: 95px; HEIGHT: 32px
}
.s-skin-hasbg #kw1 {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 4px; LINE-HEIGHT: 24px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 9px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 24px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 4px; box-shadow: 1px 1px 3px rgba(0,0,0,0.25); -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.25); -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.25)
}
.s-skin-hasbg .btn {
	box-shadow: 1px 1px 3px rgba(0,0,0,0.35); -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.35); -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.35)
}
.s-skin-hasbg .btn_h {
	box-shadow: 0 0 5px rgba(0,0,0,0.35); -moz-box-shadow: 0 0 5px rgba(0,0,0,0.35); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.35)
}
.s-skin-hasbg .btn {
	BACKGROUND-IMAGE: url(../img/skin_dark_7e34cf2a.png)
}
.s-skin-hasbg .btn_wr {
	BACKGROUND-IMAGE: url(../img/skin_dark_7e34cf2a.png)
}
.s-skin-hasbg .s-pk-new-weather {
	COLOR: #fff
}
.s-skin-hasbg .s-pk-new-weather .weather-today .weather-today-link {
	COLOR: #fff
}
.s-skin-hasbg .s-pk-new-weather A {
	COLOR: #fff
}
.s-skin-hasbg .s-pk-new-weather A:hover {
	COLOR: #fff
}
.s-skin-hasbg .s-pk-new-weather .unknown-city A {
	COLOR: #fff
}
.s-skin-hasbg .s-pk-new-weather .weather-today .weather-today-link:hover {
	COLOR: rgb(220,220,220)
}
.s-skin-hasbg #mCon1 {
	BACKGROUND-COLOR: transparent
}
.s-skin-hasbg #mCon1 SPAN {
	COLOR: #fff
}
.s-skin-hasbg #mMenu1 {
	FILTER: alpha(opacity=70); BACKGROUND: black
}
.s-skin-hasbg #mMenu1 A:hover {
	BACKGROUND: rgb(34,34,34)
}
.s-skin-hasbg #mMenu1 A {
	COLOR: #fff
}
.s-skin-hasbg #mMenu1 A:visited {
	COLOR: #fff
}
.s-skin-hasbg #s_seth A {
	COLOR: #fff
}
.s-skin-hasbg #bottom_container .bottom-line1 A {
	COLOR: #fff
}
.s-skin-hasbg #bottom_container .bottom-line1 {
	COLOR: #fff
}
.s-skin-hasbg #bottom_container .bottom-line2 {
	COLOR: #ccc
}
.s-skin-hasbg #bottom_container .bottom-line2 A {
	COLOR: #ccc
}
.s-birthlogo .s-skin-container {
	DISPLAY: none
}
.s-skin-dark .main .s-content {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.s-skin-dark .mod-pk-nav {
	BORDER-BOTTOM: #1e1e1e 1px solid; BORDER-LEFT: #1e1e1e 1px solid; BORDER-TOP: #1e1e1e 1px solid; BORDER-RIGHT: #1e1e1e 1px solid
}
.s-skin-dark .mod-pk-hot {
	BORDER-BOTTOM: #1e1e1e 1px solid; BORDER-LEFT: #1e1e1e 1px solid; BORDER-TOP: #1e1e1e 1px solid; BORDER-RIGHT: #1e1e1e 1px solid
}
.s-skin-dark .main .s-title .s-title-bg {
	BACKGROUND-IMAGE: url(../img/skin_dark_7e34cf2a.png); BACKGROUND-POSITION: 0px -478px
}
.s-skin-dark .main .s-title {
	BORDER-BOTTOM: #191919 1px solid; HEIGHT: 29px
}
.s-skin-dark #s_mod_msg .s-title {
	HEIGHT: 30px
}
.s-skin-dark .main .opacity1 {
	FILTER: alpha(opacity = 100); opacity: 1
}
.s-skin-dark .mod-pk-nav .s-nplus .first.s-ncf {
	BORDER-TOP-WIDTH: 0px
}
.s-skin-dark .mod-pk-nav .s-nplus .first.s-ncf .s-ncf-navs {
	BORDER-TOP-WIDTH: 0px
}
.s-skin-dark .s-nplus .s-ncf {
	BORDER-TOP: #595357 1px solid
}
.s-skin-dark .s-nused .s-ncf {
	BORDER-TOP-STYLE: none
}
.s-skin-dark .s-nplus .s-ncf-navs {
	BORDER-TOP: #444 1px solid
}
.s-skin-dark .s-nused .s-ncf-navs {
	BORDER-TOP-STYLE: none
}
.s-skin-dark .s-shortcut-add {
	BACKGROUND-IMAGE: url(../img/skin_dark_7e34cf2a.png)
}
.s-skin-dark .s-shortcut-add-hover {
	BACKGROUND-IMAGE: url(../img/skin_dark_7e34cf2a.png)
}
.s-skin-dark #s_b_settings_icon {
	BACKGROUND-IMAGE: url(../img/skin_dark_7e34cf2a.png)
}
.s-skin-dark .s-mod-close-view {
	BACKGROUND-IMAGE: url(../img/skin_dark_7e34cf2a.png)
}
.s-skin-dark #s_mod_feed_titleBar .s-mod-set-view {
	BACKGROUND-IMAGE: url(../img/skin_dark_7e34cf2a.png)
}
.s-skin-dark #s_mod_nav_b_settings:hover #s_b_settings_icon {
	BACKGROUND-IMAGE: url(../img/skin_dark_7e34cf2a.png)
}
.s-skin-dark .s-topsearch-change {
	BACKGROUND-IMAGE: url(../img/skin_dark_7e34cf2a.png)
}
.s-skin-dark .s-nori .s-nori-add-btn A {
	BACKGROUND-IMAGE: url(../img/skin_dark_7e34cf2a.png)
}
.s-skin-dark .s-mod-msg .s-title .s-mod-msg-rss SPAN {
	BACKGROUND-IMAGE: url(../img/skin_dark_7e34cf2a.png)
}
.s-skin-dark #s_mod_pkhot_settings:hover #s_b_settings_icon {
	BACKGROUND-IMAGE: url(../img/skin_dark_7e34cf2a.png)
}
.s-skin-dark .s-title .s-shortcut-add-hover EM {
	COLOR: #fff
}
.s-skin-dark #s_mod_nav_b_settings:hover #b_edit_text {
	COLOR: #fff
}
.s-skin-dark .s-topsearch-change:hover {
	COLOR: #fff
}
.s-skin-dark .s-topsearch-title {
	COLOR: #eee
}
.s-skin-dark .s-title EM {
	COLOR: #eee
}
.s-skin-dark #b_edit_text {
	COLOR: #eee
}
.s-skin-dark #s_mod_nav_add EM {
	COLOR: #eee
}
.s-skin-dark .main .s-title {
	
}
.s-skin-dark .s-nplus .s-ncf {
	
}
.s-skin-dark .s-nplus .s-ncf-navs {
	
}
.s-skin-dark .mod-pk-nav .s-container .nplus-edit {
	BACKGROUND-COLOR: #1e1e1e
}
.s-skin-dark .mod-pk-nav .s-container .nori-edit {
	BACKGROUND-COLOR: #1e1e1e
}
.s-skin-dark .s-nplus .nav-close {
	BACKGROUND-IMAGE: url(../img/nav_menubg_dark_6fc23e4a.png)
}
.s-skin-dark .s-nplus .nav-rename {
	BACKGROUND-IMAGE: url(../img/nav_menubg_dark_6fc23e4a.png)
}
.s-skin-dark .s-nori .nav-close {
	BACKGROUND-IMAGE: url(../img/nav_menubg_dark_6fc23e4a.png)
}
.s-skin-dark .s-nori .nav-rename {
	BACKGROUND-IMAGE: url(../img/nav_menubg_dark_6fc23e4a.png)
}
.s-skin-dark .nplus-edit .s-ncf-name .s-ncf-name-link {
	BACKGROUND-IMAGE: url(../img/nav_menubg_dark_6fc23e4a.png)
}
.s-skin-dark .nplus-edit .s-ncf-name .s-ncf-name-rename {
	BACKGROUND-IMAGE: url(../img/nav_menubg_dark_6fc23e4a.png)
}
.s-skin-dark .s-nplus .s-ncf-navs .s-nplus-add-btn A {
	BACKGROUND-IMAGE: url(../img/nav_menubg_dark_6fc23e4a.png)
}
.s-skin-dark .s-nav-edit-addform .addform-add-btn {
	BACKGROUND-IMAGE: url(../img/nav_menubg_dark_6fc23e4a.png)
}
.s-skin-dark .s-mod-set-edit {
	BACKGROUND-IMAGE: url(../img/nav_menubg_dark_6fc23e4a.png)
}
.s-skin-dark .s-nplus .s-ncf-navs .s-nplus-del-btn A {
	BACKGROUND-IMAGE: url(../img/nav_menubg_dark_6fc23e4a.png)
}
.s-skin-dark .s-nav-edit-addform .addform-submit {
	BACKGROUND-IMAGE: url(../img/nav_menubg_dark_6fc23e4a.png)
}
.s-skin-dark .s-nav-edit-addform .addform-cancel {
	BACKGROUND-IMAGE: url(../img/nav_menubg_dark_6fc23e4a.png)
}
.s-skin-dark .nplus-edit .s-ncf-nav {
	BORDER-BOTTOM: #666 1px dotted; BORDER-LEFT: #666 1px dotted; BORDER-TOP: #666 1px dotted; BORDER-RIGHT: #666 1px dotted
}
.s-skin-dark .nori-edit .s-nori-nav {
	BORDER-BOTTOM: #666 1px dotted; BORDER-LEFT: #666 1px dotted; BORDER-TOP: #666 1px dotted; BORDER-RIGHT: #666 1px dotted
}
.s-skin-dark .s-nori .s-nori-add-btn A {
	BORDER-BOTTOM: #666 1px dotted; BORDER-LEFT: #666 1px dotted; BORDER-TOP: #666 1px dotted; BORDER-RIGHT: #666 1px dotted
}
.s-skin-dark .nplus-edit .s-ncf-nav {
	BORDER-BOTTOM: #666 1px dotted; BORDER-LEFT: #666 1px dotted; BORDER-TOP: #666 1px dotted; BORDER-RIGHT: #666 1px dotted
}
.s-skin-dark .nori-edit .s-nori-nav {
	BORDER-BOTTOM: #666 1px dotted; BORDER-LEFT: #666 1px dotted; BORDER-TOP: #666 1px dotted; BORDER-RIGHT: #666 1px dotted
}
.s-skin-dark .s-nplus .s-ncf-navs .s-nplus-add-btn A {
	BORDER-BOTTOM: #666 1px dotted; BORDER-LEFT: #666 1px dotted; BORDER-TOP: #666 1px dotted; BORDER-RIGHT: #666 1px dotted
}
.s-skin-dark .nplus-edit .nav-mover {
	BORDER-BOTTOM: #ccc 1px dotted; BORDER-LEFT: #ccc 1px dotted; BORDER-TOP: #ccc 1px dotted; BORDER-RIGHT: #ccc 1px dotted
}
.s-skin-dark .nori-edit .nav-mover {
	BORDER-BOTTOM: #ccc 1px dotted; BORDER-LEFT: #ccc 1px dotted; BORDER-TOP: #ccc 1px dotted; BORDER-RIGHT: #ccc 1px dotted
}
.s-skin-dark .trans.s-nav-edit-addform {
	BORDER-BOTTOM: #343434 1px dotted; BACKGROUND: none transparent scroll repeat 0% 0%
}
.s-skin-dark .s-nplus .s-ncf-navs .s-nplus-add-btn A:hover {
	BORDER-BOTTOM: #dde9f4 1px dotted; BORDER-LEFT: #dde9f4 1px dotted; BORDER-TOP: #dde9f4 1px dotted; BORDER-RIGHT: #dde9f4 1px dotted
}
.s-skin-dark .s-nori .s-nori-add-btn A:hover {
	BORDER-BOTTOM: #dde9f4 1px dotted; BORDER-LEFT: #dde9f4 1px dotted; BORDER-TOP: #dde9f4 1px dotted; BORDER-RIGHT: #dde9f4 1px dotted
}
.s-skin-dark .nplus-edit .s-ncf-name SPAN {
	BACKGROUND: none transparent scroll repeat 0% 0%; _filter: none
}
.s-skin-dark .nplus-edit .s-ncf-name .s-ncf-name-rename {
	BACKGROUND-POSITION: -48px -88px
}
.s-skin-dark .s-nav-edit-addform .addform-inner-cbx-container A {
	COLOR: #999
}
.s-skin-dark .s-nav-edit-addform .addform-add-btn {
	COLOR: #fff
}
.s-skin-dark .s-nav-edit-addform .addform-inner-cbx-container {
	COLOR: #fff
}
.s-skin-dark .nplus-edit .s-ncf-name .mouseover.s-ncf-name-link {
	COLOR: #fff
}
.s-skin-dark .s-nplus .s-ncf-navs .nav-from-res {
	BORDER-BOTTOM: #666 1px solid; BORDER-LEFT: #666 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #141414; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #666 1px solid; BORDER-RIGHT: #666 1px solid; PADDING-TOP: 0px
}
.s-skin-dark .s-nori .s-nori-navs .nav-from-res {
	BORDER-BOTTOM: #666 1px solid; BORDER-LEFT: #666 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #141414; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #666 1px solid; BORDER-RIGHT: #666 1px solid; PADDING-TOP: 0px
}
.s-skin-dark .s-nplus-nav-drag {
	BORDER-BOTTOM: #ccc 1px dashed; BORDER-LEFT: #ccc 1px dashed; BORDER-TOP: #ccc 1px dashed; BORDER-RIGHT: #ccc 1px dashed
}
.s-skin-dark .nplus-edit .drgging-temp-nav.s-ncf-nav {
	BACKGROUND: #363636
}
.s-skin-dark .s-nplus-nav-drag {
	BORDER-BOTTOM: #ccc 1px dashed; BORDER-LEFT: #ccc 1px dashed; BORDER-TOP: #ccc 1px dashed; BORDER-RIGHT: #ccc 1px dashed
}
.s-skin-dark .s-nori-drag {
	BORDER-BOTTOM: #ccc 1px dashed; BORDER-LEFT: #ccc 1px dashed; BORDER-TOP: #ccc 1px dashed; BORDER-RIGHT: #ccc 1px dashed
}
.s-skin-dark .nplus-edit .drgging-temp-nav.s-ncf-nav {
	BACKGROUND: #363636
}
.s-skin-dark .nori-edit .s-sc-draging {
	BACKGROUND: #363636
}
.s-skin-dark .s-dir-drag {
	BACKGROUND: #313131
}
.s-skin-dark .nplus-edit .dragging.s-ncf {
	BACKGROUND: #1e1e1e
}
.s-skin-dark .canceled.s-navchk.s-ncf-nav {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #414141; BORDER-LEFT-STYLE: none
}
.canceled.s-navchk.s-nori-nav {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #414141; BORDER-LEFT-STYLE: none
}
.s-skin-dark .s-navchk.s-ncf-nav .nav-shadow {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #414141
}
.s-skin-dark .s-navchk.s-nori-nav .nav-shadow {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #414141
}
.s-skin-dark .s-nplus .s-navchk EM {
	COLOR: #666
}
.s-skin-dark .s-nplus .canceled EM {
	COLOR: #eee
}
.s-navchk.s-ncf-nav {
	BORDER-BOTTOM: #4f4f4f 1px solid; BORDER-LEFT: #4f4f4f 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #363636; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #4f4f4f 1px solid; BORDER-RIGHT: #4f4f4f 1px solid; PADDING-TOP: 0px
}
.s-navchk.s-nori-nav {
	BORDER-BOTTOM: #4f4f4f 1px solid; BORDER-LEFT: #4f4f4f 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #363636; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #4f4f4f 1px solid; BORDER-RIGHT: #4f4f4f 1px solid; PADDING-TOP: 0px
}
.s-skin-dark .s-topsearch-item DIV A {
	COLOR: #eee
}
.s-skin-dark .s-topsearch-item DIV A:visited {
	COLOR: #999
}
.s-skin-dark .s-topsearch-item DIV A:active {
	COLOR: #999
}
.s-skin-dark .viewed.s-topsearch-item DIV A {
	COLOR: #999
}
.s-skin-dark .s-topsearch-item DIV A.by-red {
	COLOR: #fff
}
.s-skin-dark .s-topsearch-item DIV A.by-pm {
	COLOR: #eee
}
.s-skin-dark .s-topsearch-item DIV A.by-red:visited {
	COLOR: #fff
}
.s-skin-dark .s-topsearch-item DIV A.by-red:active {
	COLOR: #fff
}
.s-skin-dark .s-topsearch-item DIV A.by-pm:visited {
	COLOR: #eee
}
.s-skin-dark .s-topsearch-item DIV A.by-pm:active {
	COLOR: #eee
}
.s-skin-dark .s-pk-mod .pk-title .s-hithot-change {
	BACKGROUND: url(../img/skin_dark_7e34cf2a.png) no-repeat 0px -537px; COLOR: #eee
}
.s-skin-dark .s-pk-mod .pk-title .s-hithot-change:hover {
	BACKGROUND-POSITION: 0px -579px; COLOR: #fff
}
.s-skin-dark .s-pk-hithot .hithot-word A:visited {
	COLOR: #eee
}
.s-skin-dark .s-pk-hithot .hithot-word A:active {
	COLOR: #eee
}
.s-skin-dark .s-topsearch-more A:hover {
	COLOR: #fff
}
.s-skin-dark .s-topsearch-change {
	COLOR: #eee
}
.s-skin-dark A.s-hot-news-change-btn {
	BACKGROUND: url(../img/skin_dark_7e34cf2a.png) no-repeat 37px -545px; COLOR: #fff
}
.s-skin-dark A.s-hot-news-change-btn:hover {
	BACKGROUND-POSITION: 37px -587px
}
.s-skin-dark .s-news-idio-settings EM.s-news-idio-ring {
	BACKGROUND-IMAGE: url(../img/skin_dark_7e34cf2a.png)
}
.s-skin-dark .s-news-hot-settings EM.s-news-hot-ring {
	BACKGROUND-IMAGE: url(../img/skin_dark_7e34cf2a.png)
}
.s-skin-dark .bm-bind-link {
	BACKGROUND-IMAGE: url(../img/bind_msg_skin_769b73f9.png)
}
.s-skin-dark .bm-hasmsg.bm-mark SPAN {
	BACKGROUND-IMAGE: url(../img/bind_msg_skin_769b73f9.png)
}
.s-skin-dark .bm-hasmsg.bm-mark {
	BACKGROUND-IMAGE: url(../img/bind_msg_skin_769b73f9.png)
}
.s-skin-dark .bm-nomsg.bm-mark {
	BACKGROUND-IMAGE: url(../img/bind_msg_skin_769b73f9.png)
}
.s-skin-dark .bm-email-pwd.bm-mark {
	BACKGROUND-IMAGE: url(../img/bind_msg_skin_769b73f9.png)
}
.s-skin-dark #s_msg_more_tops {
	BACKGROUND-IMAGE: url(../img/msg_bg_skin_f54cc627.png)
}
.s-skin-dark .s-topsearch-data-waiter {
	COLOR: #999
}
.s-skin-dark .s-nav-edit-addform .nav-edit-addform-inner {
	BACKGROUND: #272727
}
.s-skin-dark .guide-tip-shadow {
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none
}
.s-skin-dark .s-guide-tip .guide-tip-arrow-up {
	BACKGROUND-IMAGE: url(../img/guide_sprite_dark_97e3b451.png)
}
.s-skin-dark .s-guide-tip .guide-tip-arrow-down {
	BACKGROUND-IMAGE: url(../img/guide_sprite_dark_97e3b451.png)
}
.s-skin-dark .s-guide-tip .guide-tip-close {
	BACKGROUND-IMAGE: url(../img/guide_sprite_dark_97e3b451.png)
}
.s-skin-dark .s-guide-tip .guide-tip-add-icon {
	BACKGROUND-IMAGE: url(../img/guide_sprite_dark_97e3b451.png)
}
.s-skin-dark .s-guide-tip .guide-tip-update-icon {
	BACKGROUND-IMAGE: url(../img/guide_sprite_dark_97e3b451.png)
}
.s-skin-dark #s_nav_rp_tip {
	box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none
}
.s-skin-dark .s-topsearch-item DIV A:visited .nlabel {
	DISPLAY: none
}
.s-skin-dark .s-topsearch-item DIV A:active .nlabel {
	DISPLAY: none
}
.s-skin-dark .unview.s-topsearch-item DIV A:visited .nlabel {
	DISPLAY: none
}
.s-skin-dark .unview.s-topsearch-item DIV A:active .nlabel {
	DISPLAY: none
}
.mod-pk .s-pk-mod {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.s-skin-dark .s-pk-individual .individual-change A:hover {
	COLOR: #fff
}
