.mod-pk A {
	COLOR: #0360af
}
.mod-pk A:link {
	COLOR: #0360af
}
.s-notify-pnl A {
	COLOR: #0360af
}
.s-notify-pnl A:link {
	COLOR: #0360af
}
.s-skin-dark .mod-pk A {
	COLOR: #eee
}
.s-skin-dark .mod-pk A:link {
	COLOR: #eee
}
.s-skin-dark .mod-pk A:visited {
	COLOR: #eee
}
.mod-pk LABEL {
	COLOR: #999; CURSOR: default
}
.mod-pk {
	MARGIN-TOP: 0px
}
#s_wrap .main .mod-pk {
	PADDING-LEFT: 0px
}
.s-pk-col {
	WIDTH: 400px; PADDING-TOP: 10px
}
.s-skin-dark .s-pk-baidu-fm .fm-panel .music-info {
	BACKGROUND-COLOR: #191919
}
.s-skin-dark .s-pk-mod .music-line-title .music-info {
	BACKGROUND-COLOR: #191919
}
.s-skin-dark .s-pk-col .s-pk-mod .music-title {
	FILTER: alpha:none; opacity: 1
}
.s-pk-mod {
	BORDER-BOTTOM: #eee 1px solid; POSITION: relative; BORDER-LEFT: #eee 1px solid; WIDTH: 398px; MARGIN-BOTTOM: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid
}
.s-skin-dark .s-pk-mod {
	BORDER-BOTTOM: #191919 1px solid; BORDER-LEFT: #191919 1px solid; BORDER-TOP: #191919 1px solid; BORDER-RIGHT: #191919 1px solid
}
.s-pk-mod A:active {
	OUTLINE-STYLE: none
}
.s-pk-mod .pk-title {
	BORDER-BOTTOM: #eee 1px solid; POSITION: relative; LINE-HEIGHT: 30px; PADDING-LEFT: 19px; HEIGHT: 29px; COLOR: #666; FONT-SIZE: 14px; CURSOR: move; _line-height: 29px
}
.s-skin-dark .s-pk-mod .pk-title {
	BORDER-BOTTOM: #191919 1px solid; COLOR: #eee
}
.main .s-pk-mod .pk-title .s-title-bg {
	Z-INDEX: -1; POSITION: absolute; WIDTH: 100%; BACKGROUND: url(../img/cube_d8237111.png) no-repeat -1px -53px; HEIGHT: 29px; TOP: 0px; LEFT: 0px; _width: 398px
}
.s-skin-dark .s-pk-mod .pk-title .s-title-bg {
	BACKGROUND: url(../img/cube_skin_61088553.png) no-repeat -1px -53px
}
.s-pk-col .new-music-mod .pk-title {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: #fff; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.main .s-pk-col .new-music-mod .s-title-bg {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.s-skin-dark .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: alpha(opacity=100); HEIGHT: 100%; opacity: 1
}
.s-skin-dark .s-pk-col .new-music-mod .pk-title {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.s-pk-mod .pk-title .s-hithot-change {
	POSITION: absolute; OUTLINE-STYLE: none; PADDING-LEFT: 14px; WIDTH: 50px; BOTTOM: -205px; FONT-FAMILY: '宋体',宋体b8b体,Microsoft YaHei,sans-serif; BACKGROUND: url(../img/cube_d8237111.png) no-repeat -235px -104px; COLOR: #b1b1b1; FONT-SIZE: 12px; RIGHT: 0px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.s-skin-dark .pk-title .s-hithot-change {
	BACKGROUND: url(../img/cube_skin_61088553.png) no-repeat -235px -104px
}
.s-pk-mod .pk-title .s-hithot-change:hover {
	BACKGROUND-POSITION: -235px -149px; COLOR: #0360af; TEXT-DECORATION: none
}
.s-skin-dark .s-pk-mod .pk-title .s-hithot-change:hover {
	BACKGROUND-POSITION: -235px -149px; COLOR: #fff
}
.s-pk-mod .pk-title .pk-title-tab A.s-pkhot-tab {
	MARGIN: 0px 9px; COLOR: #999; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.s-pk-mod .s-pkhot-tab {
	MARGIN: 0px 9px; COLOR: #999; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.s-pk-mod .pk-title A.s-pkhot-tab-hover {
	BORDER-BOTTOM: #0360af 2px solid; PADDING-BOTTOM: 5px; COLOR: #0360af
}
.s-pk-mod .pk-title .pk-title-tab A.s-pkhot-tab-hover {
	BORDER-BOTTOM: #0360af 2px solid; PADDING-BOTTOM: 5px; COLOR: #0360af
}
.s-pk-mod .pk-title .s-pkhot-tab:hover {
	BORDER-BOTTOM: #0360af 2px solid; PADDING-BOTTOM: 5px; COLOR: #0360af
}
.s-pk-mod .s-pkhot-settings {
	MARGIN-TOP: -25px; OUTLINE-STYLE: none; WIDTH: 43px; FLOAT: right; MARGIN-RIGHT: 30px; TEXT-DECORATION: none; -moz-user-select: none; -webkit-user-select: none
}
.s-skin-dark .s-pk-mod .s-pkhot-tab {
	PADDING-BOTTOM: 5px
}
.s-skin-dark .s-pk-mod .pk-title-tab A.s-pkhot-tab-hover {
	BORDER-BOTTOM: #fff 2px solid; COLOR: #fff
}
.s-skin-dark .s-pk-mod .pk-title-tab A.s-pkhot-tab-hover:link {
	BORDER-BOTTOM: #fff 2px solid; COLOR: #fff
}
.s-skin-dark .s-pk-mod .s-pkhot-tab-hover {
	BORDER-BOTTOM: #fff 2px solid; COLOR: #fff
}
.s-skin-dark .s-pk-mod .s-pkhot-tab:hover {
	BORDER-BOTTOM: #fff 2px solid; COLOR: #fff
}
.s-skin-dark .s-pk-mod .pk-title-tab .s-pkhot-tab-hover {
	BORDER-BOTTOM: #fff 2px solid; COLOR: #fff
}
.s-skin-dark .s-pk-mod .pk-title-tab .s-pkhot-tab:hover {
	BORDER-BOTTOM: #fff 2px solid; COLOR: #fff
}
.s-pk-mod .s-pkhot-tab-delimitor {
	LINE-HEIGHT: 30px; COLOR: #b1b1b1; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.s-skin-dark .s-pk-mod .s-pkhot-tab-delimitor {
	COLOR: #999
}
.s-pk-mod .pk-line-title {
	POSITION: relative; LINE-HEIGHT: 30px; PADDING-LEFT: 19px; HEIGHT: 38px; COLOR: #666; FONT-SIZE: 14px
}
.s-pkhot-settings #s_b_settings_icon {
	BACKGROUND-IMAGE: url(../img/cube_d8237111.png); MARGIN: 3px 2px 0px 0px; WIDTH: 13px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -361px -139px; FLOAT: right; HEIGHT: 13px; FONT-SIZE: 1px; CURSOR: pointer; -moz-user-select: none; -webkit-user-select: none
}
.s-pkhot-settings:hover #s_b_settings_icon {
	BACKGROUND-IMAGE: url(../img/cube_d8237111.png); BACKGROUND-POSITION: -361px -205px
}
.s-pkhot-settings #b_pkhot_settings {
	LINE-HEIGHT: 20px; WIDTH: 24px; FONT-FAMILY: arial; FLOAT: right; HEIGHT: 20px; COLOR: #999; FONT-SIZE: 12px; OVERFLOW: hidden; FONT-WEIGHT: normal; PADDING-TOP: 1px
}
.s-pkhot-settings:hover #b_pkhot_settings {
	COLOR: #0360af
}
.s-skin-dark .s-pkhot-settings #s_b_settings_icon {
	BACKGROUND-POSITION: -48px -141px
}
.s-skin-dark .s-pkhot-settings:hover #s_b_settings_icon {
	BACKGROUND-POSITION: -48px -176px
}
.s-skin-dark .s-pkhot-settings:hover #b_pkhot_settings {
	COLOR: #fff; TEXT-DECORATION: none
}
.s-skin-dark .s-pkhot-settings #b_pkhot_settings {
	COLOR: #eee
}
.popBody .s-pknews-pop-settings {
	POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; BACKGROUND-COLOR: #f8f8f8; MARGIN: 0px 8px; PADDING-LEFT: 4px; WIDTH: 478px; PADDING-RIGHT: 4px; COLOR: #666; FONT-SIZE: 13px; TOP: 50px; PADDING-TOP: 0px; LEFT: 0px
}
.ver-switcher {
	TEXT-ALIGN: center; LINE-HEIGHT: 20px; FLOAT: right; HEIGHT: 25px; OVERFLOW: hidden
}
.mod-pk-old .s-pk-col {
	PADDING-TOP: 1px
}
.mod-pk .pk-old-col .s-pk-mod {
	WIDTH: auto
}
.mod-pk-old .pk-old-col .s-pk-mod .pk-content {
	DISPLAY: none; HEIGHT: 0px; OVERFLOW: hidden
}
.mod-pk .pk-old-col .s-pk-mod .pk-title {
	CURSOR: default
}
.s-notify-pnl .ver-switcher A {
	COLOR: #666
}
.s-notify-pnl .ver-switcher A:link {
	COLOR: #666
}
.s-notify-pnl .ver-switcher A:hover {
	COLOR: #0360af
}
.s-pk-mod .pk-title .pk-title-tab {
	PADDING-LEFT: 5px; DISPLAY: inline-block; COLOR: #999; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.s-pk-mod .pk-title-tab A {
	BORDER-BOTTOM: #fafafa 2px solid; PADDING-BOTTOM: 4px; MARGIN: 0px 9px; COLOR: #999
}
.s-pk-mod .pk-title-tab A:link {
	BORDER-BOTTOM: #fafafa 2px solid; PADDING-BOTTOM: 4px; MARGIN: 0px 9px; COLOR: #999
}
.s-skin-dark .s-pk-mod .pk-title-tab A {
	BORDER-BOTTOM: 0px
}
.s-skin-dark .s-pk-mod .pk-title-tab A:link {
	BORDER-BOTTOM: 0px
}
.s-pk-mod .pk-title .pk-title-tab A:hover {
	BORDER-BOTTOM: #0360af 2px solid; PADDING-BOTTOM: 5px; COLOR: #0360af; TEXT-DECORATION: none; _padding-bottom: 4px
}
.s-skin-dark .s-pk-mod .pk-title .pk-title-tab A:hover {
	BORDER-BOTTOM: #fff 2px solid; COLOR: #fff
}
.s-pk-mod .pk-title .pk-title-tab-0 .tab-0 {
	BORDER-BOTTOM: #0360af 2px solid; PADDING-BOTTOM: 5px; COLOR: #0360af; _padding-bottom: 4px
}
.s-pk-mod .pk-title .pk-title-tab-1 .tab-1 {
	BORDER-BOTTOM: #0360af 2px solid; PADDING-BOTTOM: 5px; COLOR: #0360af; _padding-bottom: 4px
}
.s-pk-mod .pk-title .pk-title-tab-2 .tab-2 {
	BORDER-BOTTOM: #0360af 2px solid; PADDING-BOTTOM: 5px; COLOR: #0360af; _padding-bottom: 4px
}
.s-pk-mod .pk-title .pk-title-tab-3 .tab-3 {
	BORDER-BOTTOM: #0360af 2px solid; PADDING-BOTTOM: 5px; COLOR: #0360af; _padding-bottom: 4px
}
.s-skin-dark .s-pk-mod .pk-title .pk-title-tab-0 .tab-0 {
	BORDER-BOTTOM: #fff 2px solid; COLOR: #fff
}
.s-skin-dark .s-pk-mod .pk-title .pk-title-tab-1 .tab-1 {
	BORDER-BOTTOM: #fff 2px solid; COLOR: #fff
}
.s-skin-dark .s-pk-mod .pk-title .pk-title-tab-2 .tab-2 {
	BORDER-BOTTOM: #fff 2px solid; COLOR: #fff
}
.s-skin-dark .s-pk-mod .pk-title .pk-title-tab-3 .tab-3 {
	BORDER-BOTTOM: #fff 2px solid; COLOR: #fff
}
.s-pk-mod .pk-close {
	POSITION: absolute; BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; MARGIN: 0px; OUTLINE-STYLE: none; FONT-FAMILY: 宋体; BORDER-TOP-STYLE: none; BACKGROUND: url(../img/cube_d8237111.png) no-repeat -224px -11px; COLOR: #eaeaea; FONT-SIZE: 16px; BORDER-LEFT-STYLE: none; TOP: 5px; RIGHT: 5px; FONT-WEIGHT: bold
}
.s-skin-dark .s-pk-mod .pk-close {
	BACKGROUND: url(../img/cube_skin_61088553.png) no-repeat -224px -11px
}
.s-pk-mod .pk-line-title .pk-close {
	TOP: 9px; RIGHT: 14px
}
.s-pk-mod .pk-close:hover {
	BACKGROUND-POSITION: -224px -30px
}
.s-skin-dark .s-pk-mod .pk-close:hover {
	BACKGROUND-POSITION: -224px -30px
}
.s-pk-mod .pk-content {
	BACKGROUND-COLOR: #fff; MIN-HEIGHT: 70px
}
.s-pk-mod .pk-source {
	TEXT-ALIGN: right; PADDING-BOTTOM: 8px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; HEIGHT: 15px; COLOR: #999; PADDING-TOP: 0px
}
.s-pk-mod .pk-source A {
	COLOR: #999
}
.s-pk-mod .pk-source A:link {
	COLOR: #999
}
.s-pk-mod .pk-source A:hover {
	COLOR: #0360af
}
.s-skin-dark .s-pk-mod .pk-source A:hover {
	COLOR: #fff
}
.s-pk-mod .pk-err {
	TEXT-ALIGN: center; LINE-HEIGHT: 208px; MARGIN: 0px auto; WIDTH: 180px; HEIGHT: 208px; COLOR: #ccc; FONT-SIZE: 12px; OVERFLOW: hidden
}
.s-pk-mod .pk-loading {
	TEXT-ALIGN: center; LINE-HEIGHT: 208px; MARGIN: 0px auto; WIDTH: 180px; HEIGHT: 208px; COLOR: #ccc; FONT-SIZE: 12px; OVERFLOW: hidden
}
.s-pk-mod .pk-err A {
	PADDING-LEFT: 15px; BACKGROUND: url(../img/pack_small_4deb04a2.png) no-repeat 0px -37px
}
.s-skin-dark .pk-err A {
	BACKGROUND: url(../img/pack_small_skin_81349723.png) no-repeat 0px -37px
}
.s-skin-dark .s-pk-mod .pk-err A {
	BACKGROUND: url(../img/cube_skin_61088553.png) no-repeat -235px -157px
}
.s-pk-mod .pk-loading {
	PADDING-LEFT: 21px; WIDTH: 84px; BACKGROUND: url(../img/loading_04ffc20e.gif) no-repeat 0px center
}
.s-skin-dark .s-pk-mod .pk-loading {
	PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.arrow-down {
	BORDER-LEFT: white 5px solid; LINE-HEIGHT: 0; WIDTH: 0px; HEIGHT: 0px; FONT-SIZE: 0px; BORDER-RIGHT: white 5px solid; _filter: chroma(color=white)
}
.arrow-up {
	BORDER-LEFT: white 5px solid; LINE-HEIGHT: 0; WIDTH: 0px; HEIGHT: 0px; FONT-SIZE: 0px; BORDER-RIGHT: white 5px solid; _filter: chroma(color=white)
}
.arrow-down {
	BORDER-TOP: #666 5px solid
}
.arrow-up {
	BORDER-BOTTOM: #666 6px solid; BORDER-RIGHT-WIDTH: 6px; BORDER-TOP-WIDTH: 6px; BORDER-LEFT-WIDTH: 6px
}
.s-pk-mod .weather-set {
	DISPLAY: none; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.s-pk-mod .bd-fm-jump {
	DISPLAY: none; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.s-pk-mod .weather-set A {
	POSITION: absolute; MARGIN: 0px 1px; WIDTH: 15px; DISPLAY: inline-block; BACKGROUND: url(../img/cube_d8237111.png) no-repeat -348px -14px; HEIGHT: 15px; TOP: 7px; RIGHT: 29px
}
.s-pk-mod .bd-fm-jump A {
	POSITION: absolute; MARGIN: 0px 1px; WIDTH: 15px; DISPLAY: inline-block; BACKGROUND: url(../img/cube_d8237111.png) no-repeat -348px -14px; HEIGHT: 15px; TOP: 7px; RIGHT: 29px
}
.s-skin-dark .weather-set A {
	BACKGROUND: url(../img/cube_skin_61088553.png) no-repeat -348px -14px
}
.s-skin-dark .bd-fm-jump A {
	BACKGROUND: url(../img/cube_skin_61088553.png) no-repeat -348px -14px
}
.s-pk-mod .bd-fm-jump A {
	WIDTH: 12px; BACKGROUND-POSITION: -72px -98px; HEIGHT: 12px; TOP: 9px
}
.s-pk-mod .pk-line-title .bd-fm-jump A {
	TOP: 13px; RIGHT: 40px
}
.s-pk-mod .bd-fm-jump A:hover {
	BACKGROUND-POSITION: -96px -98px
}
.s-pk-mod .weather-set A:hover {
	BACKGROUND-POSITION: -348px -32px
}
.s-pk-mod .music-title {
	HEIGHT: 31px; OVERFLOW: hidden
}
.s-pk-mod .music-title {
	HEIGHT: 31px; OVERFLOW: hidden
}
.s-pk-mod .music-line-title {
	HEIGHT: 38px
}
.s-pk-mod .music-line-title .baidu-fm-content {
	POSITION: absolute; WIDTH: 540px; HEIGHT: 38px; RIGHT: 60px
}
.s-pk-mod .more-hot {
	LINE-HEIGHT: 28px; DISPLAY: none; MARGIN-LEFT: 200px; _line-height: 30px
}
.s-pk-mod .more-hot A {
	FONT-FAMILY: 宋体; COLOR: #999; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.s-pk-mod .more-hot A:link {
	COLOR: #999
}
.s-pk-mod .more-hot A:visited {
	COLOR: #999
}
.s-pk-mod .more-hot A:active {
	COLOR: #999
}
.s-pk-mod .more-hot A:hover {
	COLOR: #0360af
}
.s-pk-mod .bd-fm-title {
	DISPLAY: inline-block; PADDING-TOP: 5px
}
.s-pk-mod .bd-fm-title A {
	WIDTH: 58px; DISPLAY: inline-block; BACKGROUND: url(../img/cube_d8237111.png) no-repeat 0px -89px; HEIGHT: 21px
}
.s-skin-dark .s-pk-mod .bd-fm-title A {
	BACKGROUND: url(../img/cube_skin_61088553.png) no-repeat 0px -89px
}
.s-notify-pnl {
	POSITION: absolute; TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; OVERFLOW: hidden; TOP: 0px; PADDING-TOP: 0px; LEFT: 0px
}
.s-notify-pnl .s-pk-mod {
	BORDER-BOTTOM-STYLE: none; PADDING-BOTTOM: 0px; BORDER-RIGHT-STYLE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 500px; PADDING-RIGHT: 0px; BORDER-TOP-STYLE: none; HEIGHT: 25px; BORDER-LEFT-STYLE: none; OVERFLOW: hidden; PADDING-TOP: 0px
}
.s-notify-pnl .s-pk-mod .pk-content {
	MIN-HEIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.s-notify-pnl .s-pk-mod .pk-loading {
	DISPLAY: none
}
.s-notify-pnl .s-notify-pnl .s-pk-mod .pk-err {
	TEXT-ALIGN: left
}
#s_mod_feed_down {
	POSITION: absolute; WIDTH: 264px; DISPLAY: inline-block; BACKGROUND: url(../img/feed_down_da4401f1.png) no-repeat; HEIGHT: 16px; TOP: 7px; LEFT: 70px; _top: 6px
}
.mod-pk .list-dot {
	WIDTH: 3px; DISPLAY: inline-block; BACKGROUND: #666; HEIGHT: 3px; VERTICAL-ALIGN: middle; OVERFLOW: hidden; MARGIN-RIGHT: 5px
}
.opacity-20 .s-pk-col .pk-content {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33303030',endColorstr='#33303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-20 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33303030',endColorstr='#33303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-20 .s-pk-mod .music-line-title {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33303030',endColorstr='#33303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-20 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33303030',endColorstr='#33303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-20 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33303030',endColorstr='#33303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-20 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 20); opacity: .20
}
.opacity-20 #s_wrap .s-pk-mod {
	
}
.opacity-20 #s_wrap .s-pk-mod .pk-title {
	
}
.opacity-20 #s_wrap .s-pk-mod {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.opacity-20 #s_wrap .s-pk-mod .pk-title {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.opacity-25 .s-pk-col .pk-content {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40303030',endColorstr='#40303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-25 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40303030',endColorstr='#40303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-25 .s-pk-mod .music-line-title {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40303030',endColorstr='#40303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-25 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40303030',endColorstr='#40303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-25 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40303030',endColorstr='#40303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-25 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 25); opacity: .25
}
.opacity-25 #s_wrap .s-pk-mod {
	
}
.opacity-25 #s_wrap .s-pk-mod .pk-title {
	
}
.opacity-25 #s_wrap .s-pk-mod {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.opacity-25 #s_wrap .s-pk-mod .pk-title {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.opacity-25 #s_wrap .s-pk-mod {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.opacity-25 #s_wrap .s-pk-mod .pk-title {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.opacity-30 .s-pk-col .pk-content {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C303030',endColorstr='#4C303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-30 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C303030',endColorstr='#4C303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-30 .s-pk-mod .music-line-title {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C303030',endColorstr='#4C303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-30 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C303030',endColorstr='#4C303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-30 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C303030',endColorstr='#4C303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-30 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 30); opacity: .30
}
.opacity-30 #s_wrap .s-pk-mod {
	
}
.opacity-30 #s_wrap .s-pk-mod .pk-title {
	
}
.opacity-30 #s_wrap .s-pk-mod {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.opacity-30 #s_wrap .s-pk-mod .pk-title {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.opacity-35 .s-pk-col .pk-content {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59303030',endColorstr='#59303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-35 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59303030',endColorstr='#59303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-35 .s-pk-mod .music-line-title {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59303030',endColorstr='#59303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-35 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59303030',endColorstr='#59303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-35 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59303030',endColorstr='#59303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-35 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 35); opacity: .35
}
.opacity-35 #s_wrap .s-pk-mod {
	
}
.opacity-35 #s_wrap .s-pk-mod .pk-title {
	
}
.opacity-35 #s_wrap .s-pk-mod {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.opacity-35 #s_wrap .s-pk-mod .pk-title {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.opacity-40 .s-pk-col .pk-content {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66303030',endColorstr='#66303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-40 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66303030',endColorstr='#66303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-40 .s-pk-mod .music-line-title {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66303030',endColorstr='#66303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-40 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66303030',endColorstr='#66303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-40 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66303030',endColorstr='#66303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-40 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 40); opacity: .40
}
.opacity-40 #s_wrap .s-pk-mod {
	
}
.opacity-40 #s_wrap .s-pk-mod .pk-title {
	
}
.opacity-40 #s_wrap .s-pk-mod {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.opacity-40 #s_wrap .s-pk-mod .pk-title {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.opacity-45 .s-pk-col .pk-content {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73303030',endColorstr='#73303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-45 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73303030',endColorstr='#73303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-45 .s-pk-mod .music-line-title {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73303030',endColorstr='#73303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-45 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73303030',endColorstr='#73303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-45 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73303030',endColorstr='#73303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-45 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 45); opacity: .45
}
.opacity-45 #s_wrap .s-pk-mod {
	
}
.opacity-45 #s_wrap .s-pk-mod .pk-title {
	
}
.opacity-50 .s-pk-col .pk-content {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80303030',endColorstr='#80303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-50 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80303030',endColorstr='#80303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-50 .s-pk-mod .music-line-title {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80303030',endColorstr='#80303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-50 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80303030',endColorstr='#80303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-50 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80303030',endColorstr='#80303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-50 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 50); opacity: .50
}
.opacity-50 #s_wrap .s-pk-mod {
	
}
.opacity-50 #s_wrap .s-pk-mod .pk-title {
	
}
.opacity-55 .s-pk-col .pk-content {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C303030',endColorstr='#8C303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-55 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C303030',endColorstr='#8C303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-55 .s-pk-mod .music-line-title {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C303030',endColorstr='#8C303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-55 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C303030',endColorstr='#8C303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-55 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C303030',endColorstr='#8C303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-55 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 55); opacity: .55
}
.opacity-55 #s_wrap .s-pk-mod {
	
}
.opacity-55 #s_wrap .s-pk-mod .pk-title {
	
}
.opacity-60 .s-pk-col .pk-content {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99303030',endColorstr='#99303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-60 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99303030',endColorstr='#99303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-60 .s-pk-mod .music-line-title {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99303030',endColorstr='#99303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-60 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99303030',endColorstr='#99303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-60 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99303030',endColorstr='#99303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-60 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 60); opacity: .60
}
.opacity-60 #s_wrap .s-pk-mod {
	
}
.opacity-60 #s_wrap .s-pk-mod .pk-title {
	
}
.opacity-65 .s-pk-col .pk-content {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A6303030',endColorstr='#A6303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-65 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A6303030',endColorstr='#A6303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-65 .s-pk-mod .music-line-title {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A6303030',endColorstr='#A6303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-65 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A6303030',endColorstr='#A6303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-65 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A6303030',endColorstr='#A6303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-65 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 65); opacity: .65
}
.opacity-65 #s_wrap .s-pk-mod {
	
}
.opacity-65 #s_wrap .s-pk-mod .pk-title {
	
}
.opacity-70 .s-pk-col .pk-content {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3303030',endColorstr='#B3303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-70 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3303030',endColorstr='#B3303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-70 .s-pk-mod .music-line-title {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3303030',endColorstr='#B3303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-70 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3303030',endColorstr='#B3303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-70 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3303030',endColorstr='#B3303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-70 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 70); opacity: .70
}
.opacity-70 #s_wrap .s-pk-mod {
	
}
.opacity-70 #s_wrap .s-pk-mod .pk-title {
	
}
.opacity-75 .s-pk-col .pk-content {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0303030',endColorstr='#C0303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-75 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0303030',endColorstr='#C0303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-75 .s-pk-mod .music-line-title {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0303030',endColorstr='#C0303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-75 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0303030',endColorstr='#C0303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-75 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C0303030',endColorstr='#C0303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-75 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 75); opacity: .75
}
.opacity-75 #s_wrap .s-pk-mod {
	
}
.opacity-75 #s_wrap .s-pk-mod .pk-title {
	
}
.opacity-80 .s-pk-col .pk-content {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC303030',endColorstr='#CC303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-80 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC303030',endColorstr='#CC303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-80 .s-pk-mod .music-line-title {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC303030',endColorstr='#CC303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-80 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC303030',endColorstr='#CC303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-80 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC303030',endColorstr='#CC303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-80 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 80); opacity: .80
}
.opacity-80 #s_wrap .s-pk-mod {
	
}
.opacity-80 #s_wrap .s-pk-mod .pk-title {
	
}
.opacity-85 .s-pk-col .pk-content {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9303030',endColorstr='#D9303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-85 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9303030',endColorstr='#D9303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-85 .s-pk-mod .music-line-title {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9303030',endColorstr='#D9303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-85 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9303030',endColorstr='#D9303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-85 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9303030',endColorstr='#D9303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-85 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 85); opacity: .85
}
.opacity-85 #s_wrap .s-pk-mod {
	
}
.opacity-85 #s_wrap .s-pk-mod .pk-title {
	
}
.opacity-90 .s-pk-col .pk-content {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6303030',endColorstr='#E6303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-90 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6303030',endColorstr='#E6303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-90 .s-pk-mod .music-line-title {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6303030',endColorstr='#E6303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-90 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6303030',endColorstr='#E6303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-90 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6303030',endColorstr='#E6303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-90 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 90); opacity: .90
}
.opacity-95 .s-pk-col .pk-content {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3303030',endColorstr='#F3303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-95 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3303030',endColorstr='#F3303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-95 .s-pk-mod .music-line-title {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3303030',endColorstr='#F3303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-95 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3303030',endColorstr='#F3303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-95 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F3303030',endColorstr='#F3303030'); BACKGROUND: none transparent scroll repeat 0% 0%
}
.opacity-95 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 95); opacity: .95
}
.opacity-100 .s-pk-col .pk-content {
	FILTER: progid:none; BACKGROUND: rgb(30,30,30)
}
.opacity-100 .s-pk-col .new-music-mod .music-title .s-title-bg {
	FILTER: progid:none; BACKGROUND: rgb(30,30,30)
}
.opacity-100 .s-pk-mod .music-line-title {
	FILTER: progid:none; BACKGROUND: rgb(30,30,30)
}
.opacity-100 .s-pk-baidu-fm .fm-panel .music-info {
	FILTER: progid:none; BACKGROUND: rgb(30,30,30)
}
.opacity-100 .s-pk-mod .music-line-title .music-info {
	FILTER: progid:none; BACKGROUND: rgb(30,30,30)
}
.opacity-100 .s-pk-mod .pk-title .s-title-bg {
	FILTER: alpha(opacity = 100); opacity: 1
}
